<!DOCTYPE html>
<html>
    <head>
      <title>Student Database</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/main.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    </head>
        <body>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav ml-auto">

                    <% if(currentuser){ %>

                    <!-- <li class="nav-item active">
                      <a class="nav-link" href="/newdepartment">Add Departments<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                      <a class="nav-link" href="/newcourse">Add Course<span class="sr-only">(current)</span></a>
                    </li> -->
                    <li class="nav-item active">
                      <a class="nav-link" href="/department">Departments<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                      <a class="nav-link" href="/new">Add new Student</a>
                    </li>
                    <li class="nav-item active">
                      <a class="nav-link" href="/course">courses</a>
                    </li>
                    <li class="nav-item dropdown">
                      <form action="/students" method="get" class="form-inline">
                        <div class="form-group">
                            <input type="text" name="search" placeholder="search by name or USN" class="form-control">
                        </div>
                        <div class="form-group">
                            <select class="form-control" name="sort" placeholder="pick a category">
                                <option value="" selected>sort by</option>
                                <option>name</option>
                                <option>usn</option>
                                <option>sem</option>
                                <option>department</option>
                            </select>
                            <input type="submit" value="search" class="btn btn-default">
                        </div>
                    </form>
                    </li>
                    
                    <li class="nav-item active">
                      <a class="nav-link" href="/students">Students</a>
                    </li>
                    <li class="nav-item active">
                      <a class="nav-link" href="/logout">logout</a>
                    </li>
                  </ul>
                  <%} else { %>
                    <!-- <li class="nav-item active">
                      <a class="nav-link" href="/newdepartment">Add Departments<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                      <a class="nav-link" href="/newcourse">Add Course<span class="sr-only">(current)</span></a>
                    </li> -->
                    <li class="nav-item active">
                      <a class="nav-link" href="/department">Departments<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                      <a class="nav-link" href="/new">Add new Student</a>
                    </li>
                    <li class="nav-item active">
                      <a class="nav-link" href="/course">courses</a>
                    </li>
                    <li class="nav-item dropdown">
                      <form action="/students" method="get" class="form-inline">
                        <div class="form-group">
                            <input type="text" name="search" placeholder="search by name or USN" class="form-control">
                        </div>
                        <div class="form-group">
                            <select class="form-control" name="sort" placeholder="pick a category">
                                <option value="" selected>sort by</option>
                                <option>name</option>
                                <option>usn</option>
                                <option>sem</option>
                                <option>department</option>
                            </select>
                            <input type="submit" value="search" class="btn btn-default">
                        </div>
                    </form>
                    </li>
                    <li class="nav-item active">
                      <a class="nav-link" href="/students">Students</a>
                    </li>
                  </ul>
                  <%}%>
                </div>
              </nav>
              <div class="container" style="margin:20px 200px 20px 200px">
            <%if(error && error.length>0){%>
                <div class="alert alert-danger"><%=error%></div>
            <%}%>
            <%if(success && success.length>0){%>    
                <div class="alert alert-success"><%=success%></div>
            <%}%>
        </div>